body{
    padding-top: 170px;
	background-image: url("images/789.png");
	background-repeat: no-repeat;
    background-size: 70%;
	background-color: black;
}
h1{
	margin-bottom: 50px;
	text-align: center;
	color: white;
	
}
h2{
	
	color: white;
	margin-left: 40px;
	margin-bottom: 30px;
	
}
.inputfields,.pp{
	color: white;
	margin-left: 40px;
}
.outerbox{
	padding: 30px;
	width: 450px;
	background: transparent;
	border-radius: 50px;
	height: 400px;
	margin-left: 730px;
	margin-top: -100px;
	border: 3px solid white;

  
}


button{
	color: orange;
	background-color: black;
	margin-top: 20px;
	margin-left: 170px;
}
input[type = "text"],
input[type = "password"]{
	background-color: black;
	color: #169e87;
	margin-left: 20px;
}